apiVersion: v1
kind: Service
metadata:
  name: myapp-service
  namespace: myapp-namespace
spec:
  type: NodePort
  selector:
    app: myapp
  ports:
    - protocol: TCP
      port: 80        # Port exposed to cluster internal resources
      targetPort: 8080 # Port on the container
      nodePort: 30080  # Fixed external port on the node (range: 30000-32767)