name: kubernetes-demo-infra-deployment-pipeline
run-name: Kubernetes Demo Infra Deployment Pipeline
on:
  push:
    branches:
      - 'master'
    paths:
      - 'aws-infra'

permissions:
      id-token: write
      contents: read

env:
  tofu_version: '1.8.1'
  tg_version: '0.67.0'
  working_dir: 'aws-infra'

jobs:
  apply:
    runs-on: ubuntu-latest
    needs: [ checks ]
    steps:
      - name: 'Checkout'
        uses: actions/checkout@main

      - name: Plan
        uses: gruntwork-io/terragrunt-action@v2
        with:
          tofu_version: ${{ env.tofu_version }}
          tg_version: ${{ env.tg_version }}
          tg_dir: ${{ env.working_dir }}
          tg_command: 'apply'